body{
    margin:auto;
}
header {
    background-color:rgb(87, 83, 83);
    min-height:80px;
    border-bottom:4px rgb(224, 75, 75) solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:white;
    display:flex;
    padding-left:60px;
}

.head h2 {
    white-space: nowrap;   
    font-size: 24px;
}


header h1{
    display:inline;
}
ul li{
    display:inline;
    padding-right:20px;

}
a{
    color:white;
    text-decoration-line: none;
    font-weight: bold;

}
nav{
    padding-top:9px;
    padding-left:900px;
}
.cl{
    color:rgb(224, 75, 75);
    font-weight:bold;
}
.c2{
    color:rgb(224, 75, 75);;
}
a:hover{
    color:rgb(145, 227, 199);
}
.A{
    background-image: url("image1.png");
   background-repeat: no-repeat;
   background-size:cover;
   min-height:300px;
   background-position: center;
   
}
.A1{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
header .A1,h2,p{
    margin:0;
}
header h2{
    padding-top:20px;
}
.A1,h2,p{
    padding-left:15%;
}
.A1 h2{
    padding-top:40px;
    font-size:43px;
}
.A1 p{
    padding-top:30px;
    text-align:center;
    width:50%;
    font-size:20px;
}
.main{
    display:flex;
    background-color:rgb(87, 83, 83);
    border:solid rgb(87, 83, 83);
}
.B2{
    padding-left:800px;
    padding-top:18px;
}
.A2{
    padding-left:65px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.bt{
    background-color:rgb(224, 75, 75);
    padding:6px;
    border:0;
}
#lb
{
    padding:5px;
}
.i1{
    width:200px;
    padding-left:20px;
}
.i2{
    margin-top:25px;
    width:150px;
}
.i3{
    margin-top:8px;
    width:200px;
}
.logo{
    display:flex;
}
.logo,h5,p{
    text-align:center;

}
.logo p{
    width:60%;
}
.logo h5{
    font-size: 16px;
}
.p1 h5{
    margin-bottom:30px;
}
.p1 p{
    margin-bottom:30px;
}
.p2 h5{
    margin-top:53px;
}
.p3 h5{
    margin-top:53px;
}
footer{
    background-color:rgb(193, 50, 25);
    padding:5px;
}
footer p{
    padding-left:50px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
